name: Load Test

on:
  workflow_dispatch:
  schedule:
    - cron: "30 10 * * *" # Runs at 04:00 PM IST everyday

  push:
    branches: [issue-5]

  pull_request:
    branches: [issue-5]



jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Install playwright browser
        run: |
          npx playwright install
          sudo apt-get update
          sudo apt-get install -y \
            libx264-dev \
            libnss3 \
            libatk-bridge2.0-0 \
            libx11-xcb1 \
            libgtk-3-0

      - name: Run Playwright serial test
        run: npx playwright test performance/serial

      - name: Run Playwright parallel
        run: npx playwright test performance/parallel

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 10

      - name: Check if HTML report exists
        run: |
          if [ -d "playwright-report" ]; then
            echo "HTML report exists."
          else
            echo "HTML report does not exist. Exiting..."
            exit 1
          fi
        if: always()

      # Step to zip html-report folder
      - name: Zip HTML report
        run: zip -r html-report.zip playwright-report
        # This step should always run, even if previous steps fail
        if: always()

      # Step to upload artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: html-report.zip
          if-no-files-found: error
        if: always()

      #       # Step 11: Cleanup accounts/emails
      - name: Cleanup accounts/emails
        run: |
          node helpers/cleanup.js
        if: always()

      # - name: Make POST request on failure
      #   if: ${{ failure() }}
      #   run: |
      #     curl -X POST ${{ secrets.SLACK_WEBHOOK_URL }} \
      #       -H 'Content-Type: application/json' \
      #       -d '{"text":"Action Failed : ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}'
